<script id="dashboard-admin-log-template" type="text/x-handlebars-template">
  <table>
    {{#each entries}}
      <tr>
        <td class="description {{type}}">
          {{#if link}}<a href="{{link}}">{{description}}</a>{{else}}{{description}}{{/if}}
          <span class="model">{{model}}</span>
        </td>
        <td class="datetime">
          <span class="date">{{date}}</span>
          <span class="time">{{time}}</span>
        </td>
      </tr>
    {{/each}}
  </table>
</script>
